<%- include('include/_header') %>
<body>







    <p><%= title %><i class="fa-solid fa fa-house"></i></p>

    <a href="/config">

    <p><%= tagline %></p>

    </a>


    <button class="btn btn-sm btn-warning" id="click">click home</button>

    <%- include('include/_footer') %>




<script src="scripts/app_a/app_a.bundle.js"></script>