<%- include('include/_header') %>
<body>



    <p><%= title %><i class="fa-solid fa fa-gears"></i></p>

    <a href="/">

        <p><%= tagline %></p>

    </a>

    <i class="fa fa-cogs" aria-hidden="true"></i>
    <button class="btn btn-sm btn-primary" id="click">click config</button>

    <%- include('include/_footer') %>



<script src="scripts/app_b/app_b.bundle.js"></script>